-r requirements.txt
pytest~=9.0.3
tox~=4.54.0
flake8~=7.3.0
isort~=8.0.1
docutils~=0.22.4
check-manifest~=0.51
readme-renderer~=44.0
pygments~=2.20.0
sphinx~=9.1.0
sphinx_rtd_theme~=3.1.0
coverage~=7.14.0
twine~=6.2.0
wheel~=0.47.0
advbumpversion~=1.2.0
